* {
    @apply antialiased
}

.header {
    @apply relative grid grid-cols-3 mx-8
}

.menu {
    @apply col-start-2
}

.menu ul {
    @apply text-lg font-bold p-2.5 h-full
    flex justify-between items-center
}

/*.sa {*/
/*    @apply flex justify-end items-center gap-2*/
/*}*/

.search-box {
    position: absolute;
    display: flex;
    background-color: darkgrey;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    transform: translateY(-100%);
    transition: all 100ms;
}
.show{
    transform: translateY(0);
}
.search-box input{
    width: 100%;
    height: 100%;
    outline: none;
}
.search-box button{
    padding: 10px;
    background-color: white;
    outline: none;

}